
<div class="beerPartial-container">
  <div class="img-div">
    <img src={{image_url}} class="beer">
  </div>
  <div class="name-div">
    <h1>{{name}}</h1>
  </div>
  <div class="tag-div">
    <h5 class="tagline">{{tagline}}</h5>
  </div>
  <div class="desc-div">
    <p class="description">{{description}}</p>
  </div>
</div>
