
  <div class="index-container">
    <img src="images/beer.png"/>
    <button class="beer-btn">
      <a href="/beers">Check the beers!</a>
    </button>
    <button class="beer-btn">
      <a href="/random-beers">Check a random beer!</a>
    </button>
  </div>

